$color-black: #000000;
$color-white: #ffffff;

$color-back1: #0e1011;
$color-back2: #202325;
$color-back3: #2c3236;
$color-back4: #3d4449;
$color-back5: #4a545a;

$color-fore: #c9e2ff;
$color-foresub: #bad0eb;

$color-gray: #687788;

$color-accent: #22aaff;
$color-fx: #0fd895;
$color-error: #ff0066;
$color-warning: #ff9922;